header.app_header {
  background-color: var(--neutralPrimary);
  color: var(--text);
  font-size: clamp(1rem, 5vmin, 2rem);
  font-weight: 800;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

header.app_header > p {
  width: 100%;
  white-space: nowrap;
}