.page_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.25rem;
}

.form_container {
  position: relative;
}

.contact_form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 25vmin;
  gap: 0.5em
}

.contact_form > textarea {
  min-height: 5rem;
}

.contact_form > :where(input, textarea) {
  height: 2rem;
  padding-inline: 0.5em;
  border-style: ridge;
  border-color: var(--neutralPrimary);
  border-radius: 5px;
  background-color: var(--input-background);
}

.contact_form > :not(:placeholder-shown):invalid {
  border-color: transparent;
  outline: 2px solid var(--error);
}

.contact_form_overlay {
  position: absolute;
  display: none;
  inset: 0;
  padding: .5em 2em;
  transform: scale(1.1);
  isolation: isolate;
  color:  var(--textInv);
  text-align: center;
  font-size: 1rem;
} 

.contact_form_overlay::before {
  position: absolute;
  content: '';
  background: var(--modal-background); 
  inset: 0;
  opacity: 0.95;
  z-index: -1;
}

.contact_form_overlay[data-visible=true] {
  display: block;
}

.contact_form_overlay > button {
  margin-top: 1em;
}

.message_info {
  margin-block: -0.5em 0.5em;
  margin-inline: 0.5em;
  font-size: 0.5em;
  text-align: start;
}