.container {
  min-height: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
}

.container::after {
  content: '';
  display: block;
  height: 1rem;
  width: 100%;
  padding-block: 1rem;
  margin-block: 4rem;
}