details.job_description {
  width: 100%;
  color: var(--textSecondary);
  font-size: 1rem;

  & > summary {
    cursor: pointer;

    &::marker {
      content: '';
    }

    &::after {
      content: '\276F';
      display: inline-block;
      margin-inline-start: 0.5em;
      font-family: serif;
      transition:
        var(--theme-animation),
        transform 300ms ease;
    }
  }

  &[open] {
    & > summary::after {
      transform: rotate(90deg);
    }
  }
}
