details.job_description {
  width: 100%;
  color: var(--textSecondary);
  font-size: 1rem;

  & > summary {
    cursor: pointer;

    &::marker {
      content: '';
    }

    &::after {
      content: '⮞';
      display: inline-block;
      margin-inline-start: 0.25em;
      transition: 
        var(--theme-animation),
        transform 300ms ease;
    }
  }

  & > article {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    outline: 1px solid var(--neutralSecondary);
    border-radius: 0 0 0.25em 0.25em;
    padding: 0.5rem 1rem 2rem;
    margin: 0;
    background-color: var(--neutralPrimary);
    color: var(--text);
    white-space: normal;
    translate: 0 100%;
    z-index: 1;

    box-shadow: 
      0px 0.25rem 0.75rem -0.25rem var(--grey1),
      0px 0.5rem 0.75rem -0.5rem var(--grey4);
  }

  &[open] {
    & > summary::after {
      transform: rotate(90deg);
    }

    & > article {
      transform-origin: top;
      animation: dropdown 300ms ease-in-out;
    }
  }
}

@keyframes dropdown {
  0% {
    opacity: 0; 
    margin-top: 1rem; 
    scale: 1 0; 
}
  100%  {
    opacity: 1; 
    margin-top: 0px; 
    scale: 1 1; 
  }
}