li.skill_item {
  white-space: nowrap;
}

li.skill_item > div.stars {
  display: flex;
  color: var(--themePrimary);
}

.skill_name  {
  display: flex;
  gap: 0.5em;
}

svg.star {
  font-size: 100%;
}

.star + .star {
  margin-left: 0.1em;
}

svg.star path {
  stroke: var(--neutralTernary);
  stroke-width: 32;
}