nav.navigation {
  display: flex;
  flex-direction: column;
  background-color: var(--neutralPrimary);
  color: var(--text);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  --opacity: 0.7;
  --opacity-hover: 1;
  --opacity-active: 0.9;
}

ul.list {
  list-style: none;
  padding: 0;
  width: 100%;
  height: 100%;
}

li.link {
  position: relative;
  height: 50px;
  text-transform: uppercase;
  transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: var(--opacity);
  font-size: clamp(0.8rem, 3vmin, 1.5rem);
  letter-spacing: 2px;
  
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 4;
    height: 1px;
    width: 100%;
    background-color: var(--neutralTernary);
    transform-origin: right center;
    transform: scale(0, 1);
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: var(--opacity);
  }

  &.link_active {
    opacity: var(--opacity-active);
    
    &::after {
      transform: scale(1, 1);
      opacity: var(--opacity-active);
    }
  }

  &:hover,
  &.link_active:hover {
    opacity: var(--opacity-hover);
  }

  &:hover::after {
    transform-origin: left center;
    transform: scale(1, 1);
  }

  & > a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px 10px;
    text-decoration: none;
    color: inherit;
    
    & > svg {
      margin: 0 10px;
      flex-shrink: 0;
      font-size: 24px;
    }
  }
}

div.logo {
  position: relative;
  height: 50%;
  max-height: 30vmax;
  margin: 2vmin;
}

@media only screen and (max-width: 600px) {
  nav.navigation {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  ul.list {
    width: auto;
  }

  li.link {
    display: inline-block;
  }

  li.link::after {
    left: 10%;
    z-index: 4;
    width: 90%;
  }

  div.logo {
    display: none;
  }
}
