.badge {
  height: fit-content;
  min-width: 110px;
  max-width: 140px;
  margin: 0.5em 0;
  padding: 0.25em 1em;
  border-radius: 10px;
  box-sizing: content-box;
  color: var(--text);
  background-color: var(--neutralSecondary);
  font-size: clamp(0.7rem, 70%, 1rem);
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  user-select: none;
}

@media only screen and (max-width: 600px) {
  .badge {
    padding-inline: 0.25em;
  }
}
