.badge {
  width: clamp(110px, 18vmin, 140px);
  margin: 2vmin 0;
  padding: 0.25rem 0.25rem;
  border-radius: 10px;
  box-sizing: content-box;
  color: var(--text);
  background-color: var(--neutralSecondary);
  font-size: clamp(0.8rem, 70%, 1rem);
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}