.about {
  display: flex;
}

.about > h3 {
  flex: 2 0 8vmax;
  max-width: 100px;
  white-space: nowrap;
}

.about :is(.list, .grid) {
  flex: 8 1;
  padding: 0;
  gap: 0.5em;
}

.list {
  display: flex;
  flex-wrap: wrap;  
}

.grid {
  --grid-item-basis: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-item-basis), 1fr));
}

ul:is(.list, .grid) > li {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  background-color: var(--neutralPrimary);
  border-radius: 5px;
  border: 1px solid var(--neutralSecondary);
  color: var(--text);
  list-style-type: none;
  font-size: clamp(1rem, 1.2vmax, 1.2rem);
}

ul.list > li {
  min-width: 300px;
  flex-grow: 1;
  justify-content: space-between;
  height: fit-content;
}

ul.grid > li {
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  aspect-ratio: 1;
}

@media only screen and (max-width: 800px) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .about > h3 {
    flex: 1;
  }

  ul:is(.list, .grid) {
    margin: 0;
  }
}

@media only screen and (min-width: 1366px) {
  .grid {
    --grid-item-basis: 150px
  }
}
