.about {
  display: flex;
}

.about > h3 {
  flex: 2 0 8vmax;
  max-width: 100px;
  white-space: nowrap;
}

.list {
  flex: 8 1;
  padding: 0;
}

.inline_list {
  display: flex;
  flex-wrap: wrap;
}

ul.list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: clamp(2rem, 3vmax, 2.5rem);
  min-width: 5vmin;
  margin: 0.25rem 0.5rem;
  padding: 0vmin 2vmin;
  background-color: var(--neutralPrimary);
  border-radius: 5px;
  border: 1px solid var(--neutralSecondary);
  color: var(--text);
  list-style-type: none;
  font-size: clamp(1rem, 1.2vmax, 2rem);
}

@media only screen and (max-width: 800px) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .about > h3 {
    flex: 1;
  }

  ul.list {
    margin: 0;
  }
}