.about {
  display: flex;
}

.about > h3 {
  flex: 2 0 8vmax;
  max-width: 100px;
  white-space: nowrap;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex: 8 1;
  padding: 0;
  gap: 0.5em;
}

ul.list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  min-width: 320px;
  padding: 0.5em 1em;
  background-color: var(--neutralPrimary);
  border-radius: 5px;
  border: 1px solid var(--neutralSecondary);
  color: var(--text);
  list-style-type: none;
  font-size: clamp(1rem, 1.2vmax, 1.2rem);
}

@media only screen and (max-width: 800px) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .about > h3 {
    flex: 1;
  }

  ul.list {
    margin: 0;
  }
}