.experience_item {
  --width-modifier: 1;
  width: calc(1 / var(--width-modifier) * 100% - 1em);
  line-height: 1.25;
}

.job_details {
  white-space: nowrap;
}

.job_title {
  font-weight: bold;
}

.job_employer::before {
  content: '@';
  margin-inline: 0.25em;
}

.job_contractor {
  font-size: 0.85em;
  color: var(--neutralTernary);
}

@media only screen and (width <= 900px) or (width >= 1366px) {
  .job_employer {
    display: block;
    font-size: 0.9em;
  }

  .job_employer::before {
    content: none;
  }
}

@media only screen and (width >= 1366px) {
  .experience_item {
    --width-modifier: 2;
  }
}

@media only screen and (width >= 1920px  ) {
  .experience_item {
    --width-modifier: 3;
  }
}

@media only screen and (width >= 2560px  ) {
  .experience_item {
    --width-modifier: 4;
  }
}