.experience_item {
  --width-modifier: 1;
  position: relative;
  width: calc(1 / var(--width-modifier) * 100% - 1em);
  line-height: 1.25;
}

.job_details {
  white-space: nowrap;
}

.job_title {
  font-weight: bold;
}

.job_employer::before {
  content: '@';
  margin-inline: 0.25em;
}

.job_contractor {
  font-size: 0.85em;
  color: var(--neutralTernary);
}

details.job_description {
  width: 100%;
  color: var(--grey4);
  font-size: 1rem;

  & > summary {
    cursor: pointer;

    &::marker {
      content: '';
    }

    &::after {
      content: '⮞';
      display: inline-block;
      margin-inline-start: 0.25em;
      transition: 
        var(--theme-animation),
        transform 300ms ease;
    }
  }

  & > article {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    outline: 1px solid var(--neutralSecondary);
    border-radius: 0 0 0.25em 0.25em;
    padding: 0.5rem 1rem 2rem;
    margin: 0;
    background-color: var(--neutralPrimary);
    color: var(--text);
    translate: 0 100%;
    z-index: 1;

    box-shadow: 
      0px 0.25rem 0.75rem -0.25rem var(--grey1),
      0px 0.5rem 0.75rem -0.5rem var(--grey4);
  }

  &[open] {
    & > summary::after {
      transform: rotate(90deg);
    }

    & > article {
      transform-origin: top;
      animation: dropdown 300ms ease-in-out;
    }
  }
}


@media only screen and (width <= 900px) or (width >= 1366px) {
  .job_employer {
    display: block;
    font-size: 0.9em;
  }

  .job_employer::before {
    content: none;
  }
}

@media only screen and (width >= 1366px) {
  .experience_item {
    --width-modifier: 2;
  }
}

@media only screen and (width >= 1920px  ) {
  .experience_item {
    --width-modifier: 3;
  }
}

@media only screen and (width >= 2560px  ) {
  .experience_item {
    --width-modifier: 4;
  }
}

@keyframes dropdown {
  0% {
    opacity: 0; 
    margin-top: 1rem; 
    scale: 1 0; 
}
  100%  {
    opacity: 1; 
    margin-top: 0px; 
    scale: 1 1; 
  }
}