.experience_item {
  --width-modifier: 1;
  width: calc(1 / var(--width-modifier) * 100% - 1em);
}

.job_details {
  white-space: nowrap;
}

.job_title {
  font-weight: bold;
}

.job_contractor::after {
  content: '(Contractor)';
  margin-inline: 0.25em;
  font-size: 0.75em;
  color: var(--neutralTernary);
}

.job_employer::before {
  content: '@';
  margin-inline: 0.25em;
}

.job_contractor + .job_employer::before {
  margin-inline-start: 0;
}

@media only screen and ((max-width: 900px) or (min-width: 1366px)) {
  .job_employer {
    display: block;
    font-size: 0.9em;
  }

  .job_employer::before {
    content: none;
  }
}

@media only screen and (min-width: 1366px) {
  .experience_item {
    --width-modifier: 2;
  }
}

@media only screen and (min-width: 1920px) {
  .experience_item {
    --width-modifier: 3;
  }
}