li.education_item.education_item {
  display: block;
  flex: 1 1 calc(50% - 1rem);
  height: auto;
  max-width: 500px;
  padding-top: 1vmin;
  padding-bottom: 1vmin;

  & > section {
    display: flex;
    gap: 0.5em;

    & > h3 {
      display: inline-flex;
      align-items: center;
      font-size: 80%;
      font-weight: 400;
      flex: 1; 

      & > span {
        margin-left: 1vmin;
      }
  
      & > svg {
        font-size: 180%;
      }
    }
  }
}

div.title_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
  white-space: nowrap;

  & > :last-child {
    margin: 0;
  }
}

@media only screen and (990px < width < 1110px) {
  div.title_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2vmin;
  }
}