.container {
  padding: 0 2rem;
}

.container > section {
  display: flex;
}

.container > section > h3 {
  flex: 1 0 3vmax
}

ul.list {
  flex: 5
}

ul.inline_list {
  display: flex;
}

ul.list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: clamp(2rem, 3vmax, 2.5rem);
  border: 1px solid var(--neutralSecondary);
  border-radius: 5px;
  margin: 0.25rem 0.5rem;
  padding: 0 1vmax;
  background-color: var(--neutralPrimary);
  color: var(--text);
  font-size: clamp(0.8rem, 1.2vmax, 2rem);
}

.badge {
  width: 125px;
  color: var(--text);
  text-align: center;
  font-size: clamp(0.8rem, 0.5vmax, 1rem);
  background-color: var(--neutralSecondary);
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
}