.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header header"
    "nav main";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 32vmin 10fr;
}

.container > header {
  grid-area: header;
}

.container > nav {
  grid-area: nav;
}

.container > main {
  grid-area: main;
  overflow-y: auto;
  background-color: var(--main-background);
  color: var(--text);
  border-left-width: 1px;
  border-top-width: 1px;
  border-style: solid;
  border-color: var(--grey4);
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "main";
    grid-template-rows: 80px 70px auto; 
    grid-template-columns: 1fr;
  }
}