@import url('./palette.css');
@import url('./theme.css');
/* @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Economica', sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: var(--themeSecondary);
}

:root {
  --theme-animation: background-color 0.5s ease-out, color 0.5s ease-out
}

* {
  box-sizing: border-box;
  transition: var(--theme-animation);
}

button {
  width: 15ch;
  margin-inline: auto;
  padding: 0.5em;
  appearance: none;
  border-style: ridge;
  border-color: var(--neutralTernary);
  border-radius: 5px;
  background-color: var(--neutralPrimary);
  color: var(--text)
}