.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  justify-content: center;
  text-align: center;
  font-size: 10vmin;
}

.container h2 {
  margin: 2rem 0;
}

.container p {
  margin: 2rem 0;
  font-style: italic;
}

div.logo {
  position: relative;
  height: 50%;
  max-height: 50vmin;
  margin: 2vmin;
  display: none;
}

@media only screen and (max-width: 600px) { 
  div.logo {
    display: block;
  }
}