:root {
  --themeTernary: green;
  --error: var(--red1)
}

body[data-theme='light'] {
  --themePrimary: var(--yellow1);
  --themeSecondary: var(--blue1);

  --neutralPrimary: var(--grey5);
  --neutralSecondary: var(--grey4);
  --neutralTernary: var(--grey3);

  --main-background: var(--grey6);
  --modal-background: var(--grey1);
  --input-background: var(--white);

  --text: var(--black);
  --textInv: var(--white);
}

body[data-theme='dark'] {
  --themePrimary: var(--blue1);
  --themeSecondary: var(--yellow1);

  --neutralPrimary: var(--grey1);
  --neutralSecondary: var(--grey2);
  --neutralTernary: var(--grey3);

  --main-background: var(--grey2);
  --modal-background: var(--grey6);
  --input-background: var(--grey4);

  --text: var(--white);
  --textInv: var(--black);
}