.tech_stack {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 0.5em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tech_item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  border: 1px solid var(--neutralSecondary);
  border-radius: 0.25em;
  padding-inline: 1em;
  padding-block: 0.5em;
  background-color: var(--themePrimary);
  white-space: nowrap;

  > .icon {
    flex-shrink: 0;
  }
}
