li.item {
  container: item / inline-size;
  flex-direction: column;
  align-items: revert;

  & > section {
    display: flex;
  }

  & h3 {
    display: inline-flex;
    align-items: center;
    font-size: 80%;
    font-weight: 400;      
    flex: 1; 

    & > span {
      margin-left: 1vmin;
    }

    & > svg {
      font-size: 180%;        
    }
  }
}

div.title_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
  white-space: nowrap;

  & > :last-child {
    margin: 0;
  }
}

@container item (max-width: 350px) {
  div.title_wrapper {
    flex-direction: column;
    align-items: start;
    gap: 1em;
  }

  li.item h3 {
    margin-block: 0;
  }
}